.theme-menu__button {

  &:disabled {

    &::before {
      content: '▶';
      animation: arrow var(--duration-medium, 0.5s) ease-in-out infinite alternate;
    }
  }
}

.like-icon.is-liked .heart {
  animation: heart var(--duration-fast, 0.3s) calc(var(--duration-fast, 0.3s) * 2 + 0.1s) ease-in;
  transform-origin: 50% 50%;
}

.like-icon.is-liked .sparks {
  animation: sparks var(--duration-fast, 0.3s) calc(var(--duration-fast, 0.3s) * 3 + 0.1s) ease-in;
}

@keyframes arrow {
  
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(var(--pointer-translate, 4px));
  }
}

@keyframes heart {

  from {
    scale: 1;
  }

  50% {
    scale: 1.15;
  }

  to {
    scale: 1;
  }
}

@keyframes sparks {

  from {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}