:root.theme-dark {
  --main-color: #00CC14;
  --accent-color: #000;
  --around-color: #00CC14;
  --heart-contour: #00CC14;
  --gradient-line: #000;
  --gradient-light: #007f0c;
  --gradient-dark: #004306;
  --font-weight-normal: 465;
  --font-weight-title: 785;
}

@media (prefers-color-scheme: dark) {

  :root.theme-auto {
    --main-color: #00CC14;
    --accent-color: #000;
    --around-color: #00CC14;
    --heart-contour: #00CC14;
    --gradient-line: #000;
    --gradient-light: #007f0c;
    --gradient-dark: #004306;
    --font-weight-normal: 465;
    --font-weight-title: 785;
  }
}